html, body {
	height: 100%;
	overflow-x: hidden;
	background: white;
}

h1, h2, h3, h4 {
	text-align: center;
}

iframe {
	width: 100%;
	height: 300px;
	border: none;
	margin: auto;
}

div.handouts {
	height: auto;
}

.classPhoto {
	width: 100%;
	height: 100%;
}

.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: 0;
}

.jumbotron h1 {
	color: white;
	position: absolute;
	padding: 20px;
	width: 100%;
	bottom: -10px;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.navrow {
	
}

.navrow:first-child {
	
}

.row-top, .row-bottom {
}

.navbox {
	padding: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
}

.navbox h2 {
	position: relative;
	padding: 40px;
	background: rgba(255,255,255,0.5);
	color: black;
}

.navbox:hover h2 {
	color: white;
	background: black;
}